{% extends "base.html" %}
{% block content %}

<style>
    body{background: #e0e0e0;font-family: "Roboto" ,"Times New Roman";}
    .mail-container{width:60%;background-color: #ffffff;border-radius: 20px;margin:20px auto;  padding: 25px;}
    .header{height:100px;display: flex;justify-content: space-around;padding:15px;margin-bottom:80px ;}
    .sub-titles{background-color: #c4c4c4;color:white;padding:5px 10px;border-radius: 15px;font-weight: 600;font-size: 16px;}
    p,label,small{color:rgb(53, 53, 53)}
    .content{color:rgb(53, 53, 53)}
    .scroll-container{display: flex;justify-content: flex-start;gap:10px;align-items:center;width:max-content;}
    .app-container{display: flex;justify-content: center;align-items: center;flex-direction: column;width:200px;min-height: 200px;
                     gap:5px;padding:25px;border:1px solid grey;border-radius: 25px;}
     .icon-cont img{width:100%;border: 1px solid rgb(235, 235, 235);}
     .app-name{font-weight:500;font-size:23px;text-align: center;}
     .owner-name{font-weight:500;font-size:16px;color:#134f72;display: flex;align-items: center;}
     .icon-imgs{transition: all 0.3s ease;height: 30px;}
     .icon-imgs:hover{transform:scale(1.5)}
     .description{font-size:12px;color:#606060;text-align: center;}
     .btns{padding:10px;color:coral;border-radius:20px;border:1px solid coral;font-size: 16px;background: none;min-width:70px;  
         text-align: center;}
     .btns:hover{border:1px solid rgb(117, 117, 117) !important;color:rgb(117, 117, 117) !important;cursor: pointer;}
     a{text-decoration: none;}
     .bolden{font-weight:600}
     img{border-radius: 15px;}
     .general-flex{display:flex;justify-content:flex-start;align-items:center;gap:10px;flex-wrap:wrap;}
     .mail-links{display: flex;align-items: center;}
     .mail-links span{font-weight:600;font-size: 13px;color:#134f72}
     .sign-column{}
     .email-sign-cont{background-color: #f7f6f6;border-radius: 20px;padding:5px}
     .div-line{background-color: white;border-radius: 10px;width:7px;height:150px}
     .service{font-weight: 600;color:#49565e;width: max-content !important}
     .services{font-weight: 500;color: #134f72;font-size: 20px;text-align: left !important;width: max-content !important;margin: 0 0 !important;}
     .app-container {
         width: 200px;
         min-height: 200px;
         border: 1px solid grey;
         border-radius: 25px;
         padding: 25px;
         background-color: #fff;
         overflow: hidden; /* Clear floats within the container */
     }
     .app-cell {
     text-align: center; /* Center the text */
 }

 @media all and (max-width: 575px){ 
    .mail-container{width:90%;margin:10px auto;padding:10px;}
    .objectives{width:90% !important}
    p{font-size:16px !important}
 }
 </style>


<div style="margin:0 auto" class="doc-container">
    <h2>Showcasing the Beauty of Eswatini!</h2>
<p>This platform invites any liSwati who enjoys capturing beautiful moments? Who love taking shots of stunning landscapes, infrastructure, vegetation, road networks, or corporate settings, and more!.
</p>

<p>
These platform is dedicated to promoting and visualizing the beauty of Eswatini to other emaSwati and to the world. We are inviting photographers and every LiSwati to share their images, showcasing the incredible scenery and culture of our beloved country.
</p>


<h3>Why This Plaform?</h3>
<b>Valuable Resource:</b> These images will be used by government and private agencies, museums, universities, schools, businesses, researchers, in tourism, advertising professionals, and more. They play a crucial role in educational projects, tourism, research, and promotional materials.<br>
<b>Creative Showcase:</b> These photos will be visible to the local and global audience, allowing the nation showcase the unique perspective of Eswatini's beauty.<br>
<b>Potential for Passive Income:</b> While users can download images for free, they are encouraged to contribute to image owners. These high-quality images will allow their owners to receive contributions from both local and international users, resulting in payouts.<br>
<b>Diverse Opportunities:</b> Images that capture the essence of Eswatini can attract attention and possibly lead to significant payouts, transforming the owners passions into profit.<br>
<b>Eswatini Image Repository:</b> This platform act as a repository and an image archive for the nation, all emaSwati can easily access and use these vaulable resources in different sectors of the country.<br>

   
</div><br><br>
{% endblock %}