{% extends "base.html" %}
{% block content %}

<style>
    .form-fields{
        display:flex;
        flex-direction:column;
        a{
            color:none
        }
    }
    .search-cont{background-color:;display: flex;justify-content:center;padding:10px}
    .search-cont input{border: 1px solid grey;border-radius:10px;padding: 5px;}
    /* section{ background-image:url(static/images/bg_service.png) } */
</style>

<div style="width:;margin:0 auto;background-color:;">
    <!-- <a id="contact_us"></a> -->
    <section style="background-color:;" id="" class="services hidden">
        <!-- Flash message -->

        <div class="flash-messages ">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for  category, message in messages %}
                        <div class="flash-messages alert-{{category}}"> {{message}}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div><br>

    </section>
</div>
 
<br>


<section class="container flat-flex">

    <!-- Side Navigation For Wide Screens  -->
    <div style="align-items: flex-start !important;" class="category-nav gen-flex-col">
        <div style="padding-top:25px"  class="gen-flex-col cat-item-cont">
            <img style="height:50px" src="static/icons/category-icon.png" />
            <a href="/?al='all'"> <div class="cat-item"><span>View All</span></div></a>
            {%for category in categories%}
            {% set num_images = images | selectattr('image_category', 'equalto', category) | list | length %}
                <a href="/?cat={{category}}"> <div class="cat-item"><span>{{category}}</span>{%if num_images > 0%}<small class="num gen-flex">{{num_images}}</small>{%endif%}</div></a>
            {%endfor%}
        </div>
        <div class="filler"></div>
        <div class="gen-flex-col lower-nav">
            <a href="https://techxolutions.com/public_html/Appenda.apk"><div class="gen-flex"><img style="height:40px" src="static/icons/android-icon.png" /><span class="labels">Download App</span></div></a> 
            <a href="/about"><div class="gen-flex"><img style="height:40px" src="static/icons/about-icon.png" /><span class="labels">About Appenda</span></div></a> 
            <a href="/faqs"><div class="gen-flex"></div><div class="gen-flex"><img style="height:40px" src="static/icons/faq-icon.png" /><span class="labels">Frequently Asked</span></div></a>
            <a href="/terms_conditions"><div class="gen-flex"><img style="height:40px" src="static/icons/tcs-icon.png" /><span class="labels">Terms of Use</span></div></a>
        </div>
    </div>

    <div class="parent-img-cont">
        <!-- Main Container -->
        <div style="flex-wrap: wrap;" class="images-container flat-flex">
            {%for img in images%}
                {% if ("static/uploads/usr_images/thumbnails/" ~ img.image_thumbnail) | file_exists %}
                {% set by_who = usr_obj.query.get(img.uid).name %}
                {%set likes = img.likers | length %}

                <div class="img-card">
                    {%set descr = img.description | tojson %}

                    <!-- Image  -->
                     
                    <div id="imag-cont-{{img.id}}" onclick="displayImage('{{img.image_thumbnail}}','{{img.img_name | e}}','{{by_who}}','{{img.id}}', '{{descr | remove_special_chars}}', 
                        '{{likes}}','{{img.alias}}')"  class="imag">
                        <img id="image-{{img.id}}" class="img-thmb"  src="static/uploads/usr_images/thumbnails/{{img.image_thumbnail}}" />
                    </div>
                    

                    <!-- Chats Pop-up  -->
                    <div id="pop_chatscont_{{img.id}}" class="pop-cont">
                        <div style="height:90vh;top:30px;" id="popup_chats_{{img.id}}" class="pop-up">
                            <div name="Logo Quote Request" style="width:100%">

                                <div class="comments-title">
                                    <h2 style="margin:0 0">Reactions</h2>
                                    <small style="color:#222222;;font-weight: 600;font-size:14px">on {{usr_obj.query.get(img.uid).name}}'s post</small>
                                    <small style="color:#494949;font-weight: 600;font-size:14px">{{img.timestamp.strftime("%d %b %y - %H:%M")}}</small><br>
                                </div>
                                
                                <br>

                                <div class="comments-container" style="">
                                    <!-- Show image Comments  -->
                                    {% for comment in img.img_comments %}
                                        <div style="background-color:;margin-bottom: 10px;" class="">
                                            <div>
                                                <div class="comments-cont">
                                                    <div style="height:40px;width:40px;min-width:40px" class="img-cont"><img style="height:inherit;width:inherit" class="prf-image" src="static/images/{{usr_obj.query.get(comment.comment_by).image}}" alt=""/></div>
                                                    <div class='name-comment'>
                                                        <div style="background:none;"><span style="font-size:12px;text-wrap: nowrap;font-weight: 700;color:rgb(51, 15, 85)" 
                                                        class="nav-link">{{usr_obj.query.get(comment.comment_by).name}}</span></div>
                                                        <div style="font-size:13px;" class="comment-content">{{comment.comment}}</div>
                                                        <div><small style="color:#747272;font-weight:600;float:left;font-size:11px">{{comment.timestamp}}</small></div>
                                                    </div>
                                                    {% if current_user.is_authenticated %}
                                                        {% if comment.comment_by == current_user.id %}
                                                        <div class="delete-icon-cont"><a class="svg-hrefs" href="/delete_comment?del={{ser.dumps({'data':comment.id})}}">
                                                            <object type="image/svg+xml" data="static/icons/delete-icon.svg" id="delete-icon" > </object></a>
                                                        </div>
                                                        {% endif %}
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    
                                    <br>
                                    
                                    <br>

                                    <div><hr></div>
                                    <!-- Comment Form  -->
                                    <form  class="form-comment" style="background-color: f8db5a;width:100%;"  _lpchecked="1" action="{{url_for('comments')}}" method="post" enctype="multipart/form-data">
                                        {{comments_form.hidden_tag()}}
                                        {{comments_form.comment(style="width:90%;min-height:150px;",class="form-control",placeholder="Comment",id="commentField")}}
                                        {{comments_form.submit(style='font-size:18px;padding:5px',class="btns",placeholder="Comment",value="Post")}}
                                        
                                        {{comments_form.img_id(class="form-control hide-field",placeholder="Comment",value=ser.dumps({'data':img.id}))}}
                                    </form>
                                    
                                    <div class="btn-absolute" ><input onclick="closeChatsPopup('{{img.id}}')" class="btns-inverted" type="button" value="Exit"></div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                    

                    <!-- The Modal -->
                    <div id="imageModal-{{img.id}}" class="modal">
                        <!-- Modal Content -->
                        <div  class="modal-content">
                            <!-- <span class="close-btn">&times;</span> Close Button -->
                            <div class="allow-scroll">
                                <img class="modalImage" id="modalImage-{{img.id}}" src="static/uploads/usr_images/thumbnails/{{img.image_thumbnail}}"  alt="Zoomed Image">
                                <div style="" class="cap-parent gen-flex">
                                    <h4 class="img-name-modal">{{img.img_name}}</h4>
                                    
                                    <div class="filler"></div>
                                    <a id="img-del-id-{{img.id}}" href="/delete-file?im={{img.id}}"><img style="height:50px" src="static/icons/delete-icon.png"></a> 
                                    <a href="/like?im={{img.id}}" id="add-like-{{img.id}}">
                                        <div id="likes-{{img.id}}" style="position:relative">
                                            <img style="height:40px" src="static/icons/heart-icon-filled.png" />
                                            <small style="right:-5px" id="num-{{img.id}}" class="num-modal gen-flex likes-modal">{{likes}}</small>
                                        </div>
                                    </a>
                                    <div class="download_icon_modal">
                                        <a href="/download_img?img_id={{img.id}}" class="svg-hrefs" id="img-href-id-{{img.id}}" style="width:40px">
                                            <img class="svg-icons"  style="height:40px" src="static/icons/download-icon.svg" />
                                        </a>
                                    </div>
                                </div>
                                <div style="justify-content: flex-start;padding-left: 18px;" class="gen-flex"><small style="color:rgb(104, 100, 45);font-style: italic;font-size: 12px;" class="alias-modal"><i>Alias: {{img.alias}}</i></small></div>

                                <!-- <small class="by"></small><br> -->
                                <div style="justify-content: flex-start;padding-left: 10px;" class="gen-flex"><img style="height:30px" src="static/images/default.png" /><small class="by-modal">{{by_who}}</small></div>
                                <div class="describe-img-modal">{{img.description}}</div>

                                <!-- Chats Pop-up  -->
    
                                <div class="allow-scroll" style="width:100%">

                                    <div class="comments-title">
                                        <h2 style="margin:0 0">Reactions</h2>
                                        <small style="color:#222222;;font-weight: 600;font-size:14px">on {{usr_obj.query.get(img.uid).name}}'s post</small>
                                        <small style="color:#494949;font-weight: 600;font-size:14px">{{img.timestamp.strftime("%d %b %y - %H:%M")}}</small><br>
                                    </div>
                                    
                                    <br>

                                    <div class="comments-container" style="">
                                        <!-- Show image Comments  -->
                                        {% for comment in img.img_comments %}
                                            <div style="background-color:;margin-bottom: 10px;" class="">
                                                <div>
                                                    <div class="comments-cont">
                                                        <div style="height:40px;width:40px;min-width:40px" class="img-cont"><img style="height:inherit;width:inherit" class="prf-image" src="static/images/{{usr_obj.query.get(comment.comment_by).image}}" alt=""/></div>
                                                        <div class='name-comment'>
                                                            <div style="background:none;"><span style="font-size:12px;text-wrap: nowrap;font-weight: 700;color:rgb(51, 15, 85)" 
                                                            class="nav-link">{{usr_obj.query.get(comment.comment_by).name}}</span></div>
                                                            <div style="font-size:13px;" class="comment-content">{{comment.comment}}</div>
                                                            <div><small style="color:#747272;font-weight:600;float:left;font-size:11px">{{comment.timestamp}}</small></div>
                                                        </div>
                                                        {% if current_user.is_authenticated %}
                                                            {% if comment.comment_by == current_user.id %}
                                                            <div class="delete-icon-cont"><a class="svg-hrefs" href="/delete_comment?del={{ser.dumps({'data':comment.id})}}">
                                                                <object type="image/svg+xml" data="static/icons/delete-icon.svg" id="delete-icon" > </object></a>
                                                            </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        
                                        <br>
                                        
                                        <br>

                                        <div><hr></div>
                                        <!-- Comment Form  -->
                                        <form  class="form-comment" style="background-color: f8db5a;width:100%;"  _lpchecked="1" action="{{url_for('comments')}}" method="post" enctype="multipart/form-data">
                                            {{comments_form.hidden_tag()}}
                                            {{comments_form.comment(class="form-control",placeholder="Comment",id="commentField")}}
                                            {{comments_form.submit(style='font-size:18px;padding:5px',class="btns",placeholder="Comment",value="Post")}}
                                            
                                            {{comments_form.img_id(class="form-control hide-field",placeholder="Comment",value=ser.dumps({'data':img.id}))}}
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <!-- Likes  -->
                    <a href="/like?im={{img.id}}" class="like-btn">
                        <div id="like-cont-{{img.id}}" class="likes-normal-bleft">
                            <div id="likes" style="position:relative">
                                {%if liked_images and img.id in liked_images%}
                                    <img id="heart-icon-{{img.id}}" style="height:35px" src="static/icons/heart-icon-filled.png" />
                                {%else%}
                                    <img id="heart-icon-{{img.id}}" style="height:35px" src="static/icons/heart-icon-outlined.png" />
                                {%endif%}
                                {% if likes %}
                                    <small class="num gen-flex likes-1">{{likes}}</small>
                                {% endif %}
                            </div>
                        </div>
                    </a>

                    <!-- Delete Icon / Button for mobile phones (Absolute) -->
                     {%if current_user.id == img.uid %}
                    <div id="del-mobile-{{img.id}}" class="del-mobile">
                        <a id="mobile-del-id" href="/delete-file?im={{img.id}}"><img class="svg-icons" src="static/icons/delete-icon.png"></a> 
                    </div>
                    {%endif%}

                    <!-- Caption Displayed Inside image container  (Absolute)-->
                    <div id="cap-{{img.id}}" style="display: none;" class="cap-2 gen-flex-col show-caption cap-img">
                            <div id="downld-btn-mobl-{{img.id}}" onclick="openDownload('{{img.id}}')" class="btns-inverted downld-btn-mobl">
                                Download
                            </div>
                        <small class="captions nam-on-img-captions">{{img.img_name}}</small>
                        <div class="gen-flex"><img style="height:20px" src="static/icons/user.png" /><small class="captions"> {{by_who}}</small></div>
                    </div>
                    
                </div>


                <!-- Caption Displayed Outside & Below image container (Dynamic) | Mobile Phones  -->
                <div id="img-caption-{{img.id}}" style="align-items:flex-start;" class="img-caption gen-flex-col">

                    <div  class="t-info-t">{{img.img_name}} ({{img.image_category}})</div>
                    <div style="justify-content: flex-start;padding-left: 0px;" class="gen-flex"><small style="color:rgb(104, 100, 45);font-style: italic;font-size: 10px;" class="alias">{%if img.alias%}Alias: {{img.alias}}{%endif%} </small></div><br>
                    <div  class="t-info">{{img.description}}<span></span></div>
                    <div style="gap:10px;margin-top: 3px;" class="gen-flex">
                        <div  class="gen-flex"><img style="height:20px" src="static/images/default.png" /><small style="font-size:12px" class="t-info"><b>{{by_who}}</b> </small></div>
                        {%if img.comments_bool %}
                            <button style="background:none; border:none;color:rgb(27, 36, 44);font-weight: 600;" class="" onclick="popChatUp('{{img.id}}')">comments</button> 
                        {% endif %}
                    </div>
                    <!-- <div class="t-info">Image by <span><b></b></span></div> btn-comm-abso-->
                    <!-- Absoulte right  -->
                    <a href="/download_img?img_id={{img.id}}"  ><img class="svg-icons phone-dnwl-icon" src="static/icons/download-icon.svg" /></a>
                    
                </div>
                
                {%endif%}
            {%endfor%}

        </div>

        <br>

        <!-- Upload and Sign up Buttons  -->
        <div style="justify-content: flex-start;gap:5px" class="nd-child gen-flex">
            <a href="/image_form" ><div  class="btns">Upload</div></a>
            {%if not current_user.is_authenticated %}
            <a href="/signup" ><div class="btns">Sign Up</div></a>
            {%endif%}
        </div><br>


        <!-- Tag Line  -->
        <div style="align-items:flex-start;" class="nd-child gen-flex-col ">
            <h3>Showcasing the Beauty of Eswatini!</h2>
                <div class="gen-flex">
                    <img style="height: 40px;" src="static/icons/camera-icon.png "/>
                    <div style="color:rgb(54, 54, 54)" class="labels">Landscapes, Waterfalls, Mountains, Infrastucture, Hot Springs, Vegetation, Rivers, Indigeneous Fruits, Culture, Villages, Sports, Wildlife, and more.</div><br>
                </div><br><br>
            <div class="footer">
                <div  class="t-info">Powered by <span>EmaSwati</span></div>
                <div class="t-info">Developed by <span>Tech Xolutions (TechX)</span></div>
            </div>
        </div><br><br>

        <h4 style="color:rgb(143, 142, 142)">Affiliates</h4>
        <div class="affilliates gen-flex">
            <img src="static/images/techx-logo.png" />
            <img src="static/images/byt-logo.png" />
        </div>
        
    </div>

    <!-- Side Image viewer for big screens | Dynamic -->
    <div class="display-img">
        <div style="position: fixed;height: 650px;" class="side-display-fixed">
            <div class="allow-scroll">

                <div style="width:max-content;margin:0px auto;" class="show-img-dv">
                    <img id="show-img" class="displayed-img" src="" />
                </div>
                
                <div style="" class="cap-parent gen-flex">
                    <h4 class="img-name"></h4>
                    
                    <div class="filler"></div>
                    <a id="img-del-id" href=""><img style="height:50px" src="static/icons/delete-icon.png"></a> 
                    <a href="" id="add-like">
                        <div id="likes" style="position:relative">
                            <img style="height:40px" src="static/icons/heart-icon-filled.png" />
                            <small style="right:-5px" id="num" class="num gen-flex likes"></small>
                        </div>
                    </a>
                    <div class="download_icon">
                        <a href="" class="svg-hrefs" id="img-href-id" style="width:40px">
                            <img class="svg-icons"  style="height:40px" src="static/icons/download-icon.svg" />
                        </a>
                    </div>
                </div> 

                <div style="justify-content: flex-start;padding-left: 18px;" class="gen-flex">
                    <small style="color:rgb(104, 100, 45);font-style: italic;font-size: 12px;" class="alias"></small>
                </div>
               
                <!-- <small class="by"></small><br> -->
                <div style="justify-content: flex-start;padding-left: 10px;" class="gen-flex"><img style="height:30px" src="static/images/default.png" /><small class="by"></small></div>
                 <div class="describe-img"></div>
                 <a img-data-id="with" id="with" class="comment-fetch" href="">View Comments</a>

                 <div class="comments-container side-view-comments" style="">
                    
                </div>
                 
                    
                    
                    <br>
                    
                    <br>

                    <div><hr></div>
                    
                    
                </div>
                

            </div>
    </div>   

    </div>

</section><br><br>


<script>

        // Function to check image orientation
        function checkImageOrientation(imageId) {
            const imgElement = document.getElementById(imageId);
            const img = new Image(); // Create a new Image object

            img.onload = function() {
                if (img.width < img.height) {
                    let idNumber = imageId.substring(imageId.lastIndexOf('-') + 1); // Get the numeric id part
                    var likeInstanceEl = document.querySelector("#like-cont-" + idNumber);
                    likeInstanceEl.classList.add('likes-normal-tright');
                    likeInstanceEl.classList.remove('likes-normal-bleft');
                    console.log("The image is in landscape orientation.");

                } else if (img.height < img.width) {
                    console.log("The image is in portrait orientation.");
                } else {
                    console.log("The image is square.");
                }
            };

            img.src = imgElement.src; // Set the Image object source to the thumbnail source
        }

        // Call the function when the DOM is fully loaded
        document.addEventListener("DOMContentLoaded", function() {
            // checkImageOrientation("image-img.id");
            var allImagesCont = document.querySelectorAll(".imag");
            allImagesCont.forEach(imgCont => {
                let imgId = imgCont.querySelector("img").id; // Get the ID of the image within its container
                checkImageOrientation(imgId);
            })
        });

    // quoteBtns.forEach(function(btn){
        function displayImage(image,imgname,by_who,img_id,describe,likes,alias) {

            var allImgs = document.querySelectorAll(".imag");

            allImgs.forEach(img => {
                    let imgId = img.querySelector("img").id; // Get the ID of the image within its container
                    checkImageOrientation(imgId); //Checking all image orientations again to reset back to normal / initial position
                    });

            //Like Cont instance, 
            // when the image is in zoom-in take the like element to the bottom left
            let likeCont = document.querySelector("#like-cont-" + img_id); //Get the current opened image's like element instance
            likeCont.classList.remove("likes-normal-tright"); 
            likeCont.classList.add("likes-normal-bleft");

            // Image Display Configs for small screen 
            if(window.innerWidth < 700){

                // Classes accessed for resets 
                var allImgsCont = document.querySelectorAll(".imag");
                var allImgs = document.querySelectorAll(".img-thmb");
                var allBtns = document.querySelectorAll(".downld-btn-mobl");
                var allImgCap = document.querySelectorAll(".img-caption");
                var allinlineCaps = document.querySelectorAll(".cap-2");
                var allDeleteIcons = document.querySelectorAll(".del-mobile");

                // console.log("We are on Small Screens: ", window.innerWidth);
                var imgCont = document.querySelector("#imag-cont-" +img_id);
                var img = document.querySelector("#image-" +img_id);
                var downldBtnMobl = document.querySelector("#downld-btn-mobl-" +img_id);
                var imgCap = document.querySelector("#img-caption-" +img_id);
                var imgInlineCap = document.querySelector("#cap-" +img_id); //Caption
                var deleteIcon = document.querySelector("#del-mobile-" +img_id);
                
                // Validate all images container height to the standard 
                allImgsCont.forEach(imgcont => {
                    // imgcont.style.height = "170px";
                    console.log("Reset all");
                    });
                
                // Remove styles
                allImgs.forEach((img,index) => {
                    img.classList.remove("resize-up"); 
                    console.log("Reset all Images ");
                    });
                
                // Turn OFF all btns
                allBtns.forEach((btn,index) => {
                    console.log("Reset all Buttons ");
                    btn.style.display = "none";
                    });

                //Turn OFF all Delete Icons/buttons
                allDeleteIcons.forEach(delIcon => {
                    delIcon.classList.remove("show-caption");
                });

                allImgCap.forEach(caption => {
                    caption.classList.remove("show-caption");
                });

                allinlineCaps.forEach(caption => {
                    caption.classList.add("show-caption");
                });

                imgCont.style.width = "100%";   //window.innerWidth - 30;
                imgCont.style.height = "auto";
                img.classList.add("resize-up"); 
                downldBtnMobl.style.display = 'block';
                imgCap.classList.add("show-caption");
                imgInlineCap.classList.remove('show-caption');
                deleteIcon.classList.add("show-caption");

            }else if(window.innerWidth > 700 && window.innerWidth < 2000){

                var modal = document.querySelector("#imageModal-"+img_id);
                modal.style.display = "flex";

                window.addEventListener("click", function (event) {
                        if (event.target === modal) {
                        modal.style.display = "none";
                    }
                });

                // Zoom feature
                modalImage.addEventListener("click", function () {
                    if (this.style.transform === "scale(1.5)") {
                    this.style.transform = "scale(1)"; // Zoom out
                    this.style.cursor = "zoom-in";
                    } else {
                    this.style.transform = "scale(1.5)"; // Zoom in
                    this.style.cursor = "zoom-out";
                    }
                });

                // console.log("We are on Tablet Screens: ",window.innerWidth);
                // var imgCont = document.querySelector("#imag-cont-" +img_id);
                // var img = document.querySelector("#image-" +img_id);

                // allImgs.forEach(img => {
                //     img.style.height = "170px";
                // });

                // allImgs.forEach(img => {
                //     // Back to normal size 
                //     img.classList.remove("resize-up-2"); 
                //     console.log("Reset all Images ");
                //     });


                // // script goes here 
                // imgCont.style.width = window.innerWidth;
                // imgCont.style.height = "auto";
                // img.classList.toggle("resize-up-2");
                
            }else{


                // console.log(image);
                let mainImg = document.querySelector("#show-img");
                let nameImg = document.querySelector(".img-name");
                let describeImg = document.querySelector(".describe-img");
                let displyCont = document.querySelector(".display-img");
                let locate = document.querySelector("#img-href-id");
                let delImg = document.querySelector("#img-del-id");
                let by = document.querySelector(".by");
                let aliasObj = document.querySelector(".alias");
                let num = document.querySelector("#num");
                let addLike = document.querySelector("#add-like");
                let aHrefComm = document.querySelector("#with");

                let imageUrl = "static/uploads/usr_images/thumbnails/" + image + "?t=" + new Date().getTime();
                
                displyCont.classList.add("showIt");

                mainImg.src = imageUrl;
                var commentsConta = document.querySelector(".side-view-comments");
                commentsConta.innerHTML = "";


                nameImg.innerHTML = imgname;
                by.innerHTML = by_who;
                if (alias === "None"){
                    aliasObj.innerHTML ="";
                }else{
                    aliasObj.innerHTML ="Alias: "+ alias;
                }
                
                num.innerHTML = likes;
                console.log("CHECK LIKES: ",num.innerHTML,"+",likes );
                addLike.href = "/like?im=" + img_id;

                describeImg.innerHTML = describe;
                aHrefComm.id = "comment-"+ img_id.toString();
                aHrefComm.href = "/?img_id="+ img_id.toString();

                locate.href = "/download_img?img_id=" + img_id.toString();
                delImg.href = "/delete-file?im=" + img_id.toString();

                console.log("Name: ", nameImg.innerHTML);
                console.log("aHrefComm: ", aHrefComm);
                console.log("Image: ", mainImg.src);
                console.log("Id: ", locate.href);
                console.log("Description: ", describe);

                mainImg.onerror = function() {
                    console.error("Image failed to load:", imageUrl);
                    // Optionally, set a fallback image
                    mainImg.src = "path/to/fallback-image.jpg";
                };
            }
        }

    function openDownload(img_id){
        window.location.href = "/download_img?img_id=" + img_id;
    }

    function revealIcons(id){
        
        let btn = document.querySelector("#reveal-icons-btns-"+id);
        let icons = document.querySelector("#other-pltfms-"+id);
        icons.classList.toggle("reveal-icons");

        if (btn.innerHTML.trim() === "+more") {
            btn.innerHTML = "less";
            // btn.classList.toggle("btns-inverted")
        } else {
            btn.innerHTML = "+more";
            
        }
    }

    
    const listIcon = document.querySelector("#list");
    const blocksIcon = document.querySelector("#blocks");

    listIcon.addEventListener("click", function(){

        window.location.href = "/?icon=listview";
        // listIcon.classList.add('active') ;

    });

    blocksIcon.addEventListener("click", function(){

        window.location.href = "/?icon=blockview";
        // console.log("Blocks Icon CLicked");

    });


document.getElementById('scroll-left').addEventListener('click', function() {
    const container = document.querySelector('#view-cont');
    const imgContainer = document.querySelector('.scroll-container');
    const firstImg = document.querySelector('img');
    // if (!firstImg) return;
    const imageWidth = firstImg.clientWidth;
    
    if (window.innerWidth >= 600){
        container.scrollBy({
            left: -600, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }else{
        container.scrollBy({
            left: -220, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }
});


document.getElementById('scroll-right').addEventListener('click', function() {
    console.log("Testing");
    const container = document.querySelector('#view-cont');
    const imgContainer = document.querySelector('.scroll-container');
    const firstImg = document.querySelector('img');
    // if (!firstImg) return;
    const imageWidth = firstImg.clientWidth;
    
    if (window.innerWidth >= 600){
        container.scrollBy({
            left: 600, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }else{
        container.scrollBy({
            left: 220, // Adjust this value to match the height of visible area
            behavior: 'smooth'
        });
    }
});

function trackClick(link,name) {
        // Send a fetch request to the Flask endpoint to log the click
        fetch('/track_click', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ clicked_link: link,appnm:name })
        });
    }

</script>
{% endblock %}